<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header><h1>Scheduler for CODE</h1></header>
    <section>
        <form action=<%=path%> method="post">
            <table id="scheduleTable">
                <thead>
                    <tr>
                        <td></td>
                        <td>月</td>
                        <td>火</td>
                        <td>水</td>
                        <td>木</td>
                        <td>金</td>
                        <td>土</td>
                        <td>日</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9:00 ~ 10:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_9to10"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_9to10"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_9to10"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_9to10"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_9to10"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_9to10"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_9to10"></td>
                    </tr>
                    <tr>
                        <td>10:00 ~ 11:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_10to11"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_10to11"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_10to11"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_10to11"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_10to11"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_10to11"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_10to11"></td>
                    </tr>
                    <tr>
                        <td>11:00 ~ 12:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_11to12"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_11to12"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_11to12"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_11to12"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_11to12"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_11to12"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_11to12"></td>
                    </tr>
                    <tr>
                        <td>12:00 ~ 13:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_12to13"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_12to13"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_12to13"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_12to13"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_12to13"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_12to13"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_12to13"></td>
                    </tr>
                    <tr>
                        <td>13:00 ~ 14:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_13to14"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_13to14"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_13to14"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_13to14"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_13to14"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_13to14"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_13to14"></td>
                    </tr>
                    <tr>
                        <td>14:00 ~ 15:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_14to15"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_14to15"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_14to15"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_14to15"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_14to15"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_14to15"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_14to15"></td>
                    </tr>
                    <tr>
                        <td>15:00 ~ 16:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_15to16"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_15to16"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_15to16"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_15to16"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_15to16"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_15to16"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_15to16"></td>
                    </tr>
                    <tr>
                        <td>16:00 ~ 17:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_16to17"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_16to17"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_16to17"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_16to17"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_16to17"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_16to17"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_16to17"></td>
                    </tr>
                    <tr>
                        <td>17:00 ~ 18:00</td>
                        <td><input type="checkbox" name="mon" class="check" value="_17to18"></td>
                        <td><input type="checkbox" name="tue" class="check" value="_17to18"></td>
                        <td><input type="checkbox" name="wed" class="check" value="_17to18"></td>
                        <td><input type="checkbox" name="thr" class="check" value="_17to18"></td>
                        <td><input type="checkbox" name="fri" class="check" value="_17to18"></td>
                        <td><input type="checkbox" name="sat" class="check" value="_17to18"></td>
                        <td><input type="checkbox" name="sun" class="check" value="_17to18"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="4">이름:<label for="name"></label><input type="text" name="memberName" id="memberName" style="width: 4em;"></td>
                        <td colspan="3"><input type="submit" value="SUBMIT"></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </section>
</body>
</html>